body {
    margin: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    height: 70px;
    width: 100%;
    background-color: rgba(4, 39, 60, 0.639);
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    height: 70px;
}

.nav-list {
    float: right;
    margin-top: 10px;
    /* display: inline-block; this is an alternative to using float*/
}

.list-item {
    display: inline-block;
    background-color: #142c4b;
    padding: 8px;
    margin-right: 20px;
    border: 3px solid #fff;
    border-radius: 6px;
    color: #c70101;
    /* float: left;
    text-decoration: none; thia alternative to display property*/
}

.list-item a {
    text-decoration: none;  
}

.list-item:hover {
    background-color: #c70101;
}

.list-item a:hover {
    color: #fff;
}

.list-item a:visited {
    color: #000;
}

.banner {
    height: 700px;
    width: 100%;
    background-image: url(../img/Spiderman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text {
    height: 200px;
    width: 350px;
    background-color: #c70101;
    position: absolute;
    top: 300px;
    right: 250px;
}

.banner-text h1 {
    color: #fff;
    font-family: 'Gloria Hallelujah', cursive;
    line-height: 1.1;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 15px;
}

.banner-text h1:hover {
    background-color: rgb(4, 39, 60);
}

.column {
    border: 3px solid #c70101;
    height: 650px;
    width: 47%;
    float: left;
    margin-left: 25px;
}

.box {
    height: 280px;
    width: 600px;
    border: 3px solid #042703ca;
    position: relative;
    top: 25px;
    left: 30px;
}

.col-box1 img {
    height: 280px;
    width: 100%;
}

.col-box2 img {
    height: 200px;
    width: 500px;
    position: absolute;
    top: 40px;
    left: 50px;
}

.column p {
    padding: 20px;
}

.fa-facebook-square {
    color: #3b5998;
}